@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-blue-500 {
  background-color: #2196f3;
}
.animate-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}